<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.backend.last_stand.mapper.ActivityNewsMapper">


    <select id="getActivityNewsFromTeam" resultType="com.backend.last_stand.entity.ActivityNews"
            parameterType="java.lang.Long">
        SELECT * FROM sys_activity_news
        WHERE team_id = #{teamId}
    </select>


</mapper>