<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.backend.last_stand.mapper.TeamMapper">


    <select id="getTeamMembers" parameterType="java.lang.Long" resultType="com.backend.last_stand.entity.User">
        SELECT * FROM sys_user
        WHERE id IN (
            SELECT user_id FROM sys_ts
            WHERE team_id = #{id}
        )
    </select>

    <select id="getSchool" resultType="com.backend.last_stand.entity.School" parameterType="java.lang.Long">
        SELECT * FROM sys_school
        WHERE id IN (
            SELECT school_id FROM sys_team
            WHERE id = #{id}
        )
    </select>


    <select id="getTeamBySchoolName" resultType="com.backend.last_stand.entity.Team">
        SELECT * FROM sys_team
        WHERE school_id IN (
            SELECT id FROM sys_school
            WHERE school_name like #{schoolName}
        )
    </select>


    <select id="getTeamByYear" resultType="com.backend.last_stand.entity.Team">
        SELECT * FROM sys_team
        WHERE `year` = #{year}
    </select>

    <select id="getTeamByProvince" resultType="com.backend.last_stand.entity.Team"
            parameterType="java.lang.String">
        SELECT * FROM sys_team
        WHERE school_id IN (
            SELECT id FROM sys_school
            WHERE province = #{province}
        )
    </select>

    <select id="getTeamByProvinceAndYear" resultType="com.backend.last_stand.entity.Team">
        SELECT * FROM sys_team
        WHERE school_id IN (
            SELECT id FROM sys_school
            WHERE province = #{province}
        ) AND `year` = #{year}
    </select>

    <select id="getTeamByYearAndProvince" resultType="com.backend.last_stand.entity.Team">
        SELECT * FROM sys_team
        WHERE school_id IN (
            SELECT id FROM sys_school
            WHERE province = #{provinceName}
              AND `year` = #{years}
        )
    </select>

</mapper>