<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.backend.last_stand.mapper.UserMapper">
    <insert id="addTeam">
        INSERT INTO sys_ts (user_id, team_id)
        VALUES (#{userId}, #{teamId})
    </insert>


    <update id="updateRole">
        UPDATE sys_user_role
        SET role_id = #{role_id}
        WHERE user_id = #{id}
    </update>


    <select id="selectByUserName" resultType="com.backend.last_stand.entity.User">
        SELECT * FROM sys_user WHERE user_name =#{userName}
    </select>

    <select id="selectRolesByUid" parameterType="java.lang.Long" resultType="com.backend.last_stand.entity.Role">
        SELECT * FROM sys_role WHERE id IN (
            SELECT role_id FROM sys_user_role WHERE user_id = #{id}
        )
    </select>

    <select id="getUsers" resultType="com.backend.last_stand.entity.User">
        SELECT * FROM sys_user
        WHERE id IN (
            SELECT user_id FROM sys_user_role
            WHERE role_id = #{id}
        )
    </select>
    <select id="selectByEmail" resultType="com.backend.last_stand.entity.User">
        select * from sys_user
        where email = #{email}
    </select>

    <select id="getUserTeam" resultType="com.backend.last_stand.entity.Team" parameterType="java.lang.Long">
        SELECT * FROM sys_team
        WHERE id IN (
            SELECT team_id FROM sys_ts
            WHERE user_id = #{id}
        )
    </select>

    <select id="getStudentsFromActivity" resultType="com.backend.last_stand.entity.User">

        SELECT * FROM sys_user
        WHERE user_name LIKE #{username}
          AND id IN (
            SELECT user_id FROM sys_activity_user
            WHERE activity_id = #{activityId}
        )

    </select>

    <select id="countActiveUser" resultType="com.backend.last_stand.entity.User">

    </select>

</mapper>